<% layout('/layouts/boilerplate') %>

<body>
    <h3>New Listings</h3>
    <form action="/listings" method="post">
        <input type="text" placeholder="Enter Title" name="listing[title]"><br><br>
        <input type="text" placeholder="Enter Description" name="listing[description]"><br><br>
        <input type="text" placeholder="Enter Price" name="listing[price]"><br><br>
        <input type="text" placeholder="Enter Image URL/LINK" name="listing[image]"><br><br>
        <input type="text" placeholder="Enter location" name="listing[location]"><br><br>
        <input type="text" placeholder="Enter Country" name="listing[country]"><br><br>
        <button type="submit">Create</button>
    </form>
</body>

 